*{
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
  color: #d2dcef;
  line-height: 1.2;
}
body {
    margin: 0;
    background: #2E3440;
    font-weight: 300;
}
div.page {
	margin: 0 auto;
    width: 400px;
}
footer {
	text-align: center;
	position: fixed;
    bottom:0;
    width:100%;
}
i {
	font-size: 20px;
}
input {
	font-size:14pt;
	background-color: #2E3440;
	padding: 5px;
	border: solid;
	border-width: thin;
	border-radius: 10px;
	border-color: #d2dcef;
}
select {
	border: solid;
	border-width: thin;
	border-radius: 5px;
	border-color: #d2dcef;
	background-color: #2E3440;
}
input.select {
	background-color: #2E3440;
}
button {
    background-color: #7289DA;
	border: none;
	border-radius: 0px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input.button:hover {   
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}